<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
This is the head
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head><body>
This is the body
<table>
<colgroup><col/><col/><col/><col/><col/><col/></colgroup>
<tr><th>Mode</th><th>LastWriteTime</th><th>Length</th><th>Name</th><th>Attributes</th><th>FullName</th></tr>
<tr><td>-a---</td><td>1/4/2021 11:18:25 AM</td><td>10051</td><td>.vimrc</td><td>Archive</td><td>C:\Users\Carl\gitstuff\my-dotfiles\templates\.vimrc</td></tr>
<tr><td>-a---</td><td>1/4/2021 12:34:04 AM</td><td>15634</td><td>carstenh_from_docs.zshrc</td><td>Archive</td><td>C:\Users\Carl\gitstuff\my-dotfiles\templates\carstenh_from_docs.zshrc</td></tr>
<tr><td>-a---</td><td>3/29/2021 10:54:17 AM</td><td>0</td><td>ls-html-test.html</td><td>Archive</td><td>C:\Users\Carl\gitstuff\my-dotfiles\templates\ls-html-test.html</td></tr>
<tr><td>-a---</td><td>2/15/2021 3:03:39 PM</td><td>826</td><td>template.editorconfig</td><td>Archive</td><td>C:\Users\Carl\gitstuff\my-dotfiles\templates\template.editorconfig</td></tr>
<tr><td>-a---</td><td>1/4/2021 12:34:04 AM</td><td>2116</td><td>template.emacs</td><td>Archive</td><td>C:\Users\Carl\gitstuff\my-dotfiles\templates\template.emacs</td></tr>
<tr><td>-a---</td><td>1/4/2021 12:34:04 AM</td><td>1759</td><td>template.gitignore</td><td>Archive</td><td>C:\Users\Carl\gitstuff\my-dotfiles\templates\template.gitignore</td></tr>
</table>
</body></html>
